#header-content {
  background-color: green;
  width: 70%;
}

#main-content {
  background-color: black;
  width: 70%;
}

#footer-content {
  background-color: red;
  width: 70%;
}

.card_book {
  display: flex;
  width: 50px;
  height: auto;
}

