html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#popup-blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba(255,255,255,0.2);      /* leggero bianco trasparente */
  backdrop-filter: blur(6px);             /* effetto blur */
  transition: opacity 0.3s;
  opacity: 1;
}

#general-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Usa 100vh per occupare l'intera altezza della finestra */
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#header-container {
    flex: 0 0 5%; 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-container {
    flex: 1 0 85%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-container {

}

#sidebar-container {
    flex: 0 0 15%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    width: 100% !important;
    height: 100% !important;
    align-items: center;
    justify-items: center;
    padding: 5px;
}

.grid-element {
  height: fit-content;
  width: fit-content;
}

.card {
  display: flex;
  width: 50px;
  height: auto;
}

#generic-dialog {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}
#generic-dialog.open {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

