html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#general-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Usa 100vh per occupare l'intera altezza della finestra */
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#header-container {
    flex: 0 0 10%; 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-container {
    flex: 1 0 85%;
    overflow-y: auto;
}

#footer-container {

}

#sidebar-container {
    flex: 0 0 15%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
}

#header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#main-content {
    padding: 10px;
}

#footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.grid-container {
  /* Default for larger screens or a baseline */
  grid-template-columns: repeat(5, 1fr); /* Example default */
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1240px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}